<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.mapper.MemberMapper">
    <insert id="saveInvite" parameterType="com.example.project.entity.Invite" useGeneratedKeys="true" keyProperty="id">
        insert into invite(route_id,  token, expired_at)
        values(#{route_id},#{token},#{expired_at})
    </insert>
    <select id="findByToken" resultType="com.example.project.entity.Invite">
        select * from invite where token = #{token}
    </select>
    <select id="findNotificationByUserId" resultType="com.example.project.entity.Notification">
        select * from notification where user_id=#{id}
    </select>
    <select id ="findMemberByRouteId" resultType="String">
        select u.username from route_user ru
            join users u on ru.user_id= u.id
            where ru.route_id=#{id}
    </select>

</mapper>