<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.mapper.PlaceMapper">
    <select id="findByRouteId" resultType="com.example.project.entity.Route">
        select * from route where id= #{id}
    </select>
    <insert id ="savePlace" parameterType="com.example.project.entity.Place" useGeneratedKeys="true" keyProperty="id">
        insert into place(title,link,address,roadAddress,mapx,mapy,category,route_id)
        values(#{title},
               #{link},
               #{address},
               #{roadAddress},
               #{mapx},
               #{mapy},
               #{category},
               #{route.id})
    </insert>
    <insert id = "addRoute" parameterType="com.example.project.entity.Route" useGeneratedKeys="true" keyProperty="id">
        insert into route(title, created_at,owner_id)
        values(#{title},#{created_at},#{owner.id})
    </insert>
    <insert id="addRouteUser">
        insert into route_user(route_id, user_id)
        values(#{route.id}, #{users.id})
    </insert>
    <delete id="deleteRouteUser">
        delete from route_user where user_id=#{users.id} and route_id=#{route.id}
    </delete>
    <select id ="findMaxOrderByRouteDay" parameterType="map" resultType="int">
        select coalesce(max("order"), 0 )
        from route_item
        where route_id = #{routeId}
        and day=#{day}
    </select>
    <insert id="saveRouteItem" useGeneratedKeys="false" keyProperty="id"
            parameterType="com.example.project.entity.RouteItem" >
        insert into route_item(route_id, day, "order","dtype")
        values (#{route.id}, #{day}, #{order},#{dtype})
        returning id

        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT currval(pg_get_serial_sequence('route_item','id'))
        </selectKey>
    </insert>

    <insert id="savePlaceItem" parameterType="com.example.project.entity.PlaceItem" useGeneratedKeys="false" keyProperty="id">
        insert into place_item(id, place_id)
        values (#{id}, #{place.id})
    </insert>
    <insert id="saveMemo" parameterType="com.example.project.entity.Memo" useGeneratedKeys="true" keyProperty="id">
        insert into memo(content,route_id)
        values (#{content}, #{route.id})
    </insert>
    <update id="editMemo" parameterType="com.example.project.entity.Memo">
        update memo set content=#{content} where id = #{id}
    </update>
    <insert id="saveMemoItem" parameterType="com.example.project.entity.MemoItem" >
        --saveRouteItem에서 memo_item.id 생성됨
        insert into memo_item(id, memo_id)
        values (#{id}, #{memo.id})
    </insert>
    <delete id="deleteRouteItem">
    delete from route_item where id= #{id}
    </delete>
    <delete id="deleteMemoItem" parameterType="com.example.project.entity.MemoItem">
        delete from memo_item where id= #{id}
    </delete>
    <delete id="deletePlaceItem" parameterType="com.example.project.entity.PlaceItem">
        delete from place_item where id= #{id}
    </delete>
    <select id ="findByMemoId" resultType="com.example.project.entity.Memo">
        select * from memo where id = #{id}
    </select>
    <select id ="findByMemoItemId" resultType="com.example.project.entity.MemoItem">
        select * from memo_item where memo_id = #{id}
    </select>
    <select id ="findByPlaceItemId" resultType="com.example.project.entity.PlaceItem">
        select * from place_item where place_id = #{id}
    </select>
    <delete id="deleteRoute" parameterType="com.example.project.entity.Route">
        delete from route where id=#{id}
    </delete>
    <select id="findByOwnerIdByRouteId" resultType="Long">
        select owner_id from route where id=#{id}
    </select>
    <select id="findUsersByRouteId" resultType="com.example.project.entity.User">
        select u.* from users u join route_user ru on u.id=ru.user_id where ru.route_id=#{routeId}
    </select>
    <select id="findByBlockId" resultMap="routeItemResultMap">
        select ri.id, ri.day, ri.route_id as routeId, ri."order", ri.dtype,
               pi.place_id ,mi.memo_id
        from route_item ri
        left join place_item pi on ri.id=pi.id
        left join memo_item mi on ri.id=mi.id
        where ri.id=#{id}
    </select>

    <select id="findByDay" resultMap="blockDtoMap">
        select ri.day, ri.id as route_item_id, ri."order", ri.dtype,
               pi.place_id as place_id,
               mi.memo_id as memo_id,
               coalesce(p.title ,m.content) as title,
               p.address as address
        from route r
                 left join route_item ri on r.id = ri.route_id
                 left join place_item pi on ri.id=pi.id
                 left join place p on pi.place_id = p.id
                 left join memo_item mi on ri.id=mi.id
                 left join memo m on mi.memo_id = m.id
        where r.id=#{routeId} and ri.day =#{day}
        order by ri."order"
        </select>

    <update id="updateRouteItem" parameterType="com.example.project.entity.RouteItem">
        update route_item set day=#{day}, "order"=#{order} where id=#{id}
    </update>
    <select id="findAllBlocks" parameterType="Long" resultMap="blockDtoMap">
        select ri.day, ri.id as route_item_id, ri."order", ri.dtype,
               pi.place_id as place_id,
               mi.memo_id as memo_id,
               coalesce(p.title ,m.content) as title,
               p.address as address,
               coalesce(m.id,p.id) as item_id
        from route r
            left join route_item ri on r.id = ri.route_id
                 left join place_item pi on ri.id=pi.id
                 left join place p on pi.place_id = p.id
                 left join memo_item mi on ri.id=mi.id
                 left join memo m on mi.memo_id = m.id
        where r.id=#{id}
        order by ri.day, ri."order"
    </select>
    <delete id="deleteMemo">
        delete from memo where id=#{id}
    </delete>
    <select id="findByPlaceId" resultType="com.example.project.entity.Place">
        select * from place where id=#{id}
    </select>
    <delete id="deletePlace">
        delete from place where id=#{id}
    </delete>
    <select id="findPlaceIdByRouteId" resultType="long">
        select id from place where route_id=#{id}
    </select>
    <select id="findMemoIdByRouteId" resultType="long">
        select id from memo where route_id=#{id}
    </select>

    <resultMap id="blockDtoMap" type="com.example.project.entity.dto.BlockDto">
        <id property="id" column="route_item_id"/>
        <result property="order" column="order"/>
        <result property="day" column="day"/>
        <result property="dtype" column="dtype"/>
        <result property="title" column="title"/>
        <result property="address" column="address"/>
        <result property="placeId" column="place_id"/>
        <result property="memoId" column="memo_id"/>
    </resultMap>

    <resultMap id="routeItemResultMap" type="com.example.project.entity.RouteItem">
        <id property="id" column="id"/>
        <result property="order" column="order"/>
        <result property="day" column="day"/>
        <association property="route" javaType="com.example.project.entity.Route">
            <id column="route_id" property="id"/>
        </association>
        <discriminator javaType="string" column="dtype">
            <case value="PLACE" resultMap="placeItemResultMap"/>
            <case value="MEMO" resultMap="memoItemResultMap"/>
        </discriminator>
    </resultMap>
    <resultMap id="placeItemResultMap" type="com.example.project.entity.PlaceItem" extends="routeItemResultMap">
        <association property="place" javaType="com.example.project.entity.Place">
            <id column="place_id" property="id"/>
            <result column ="place_title" property ="title"/>
            <result column="place_address" property="address"/>
        </association>
    </resultMap>
    <resultMap id="memoItemResultMap" type="com.example.project.entity.MemoItem" extends="routeItemResultMap">
        <association property="memo" javaType="com.example.project.entity.Memo">
            <id column="memo_id" property="id"/>
            <result column="memo_content" property="content"/>
        </association>
    </resultMap>
</mapper>